@page
@model DotNetCoreAuth.Pages.Restaurantes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurante.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurante.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurante.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurante.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurante.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurante.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurante.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurante.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Restaurante.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
